body {
	margin: 20px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, serif;
	background-image: url("images/background.jpg");
}

h1 {
	font-weight: 100;
	font-size: 50px;
}

header {
	text-align: center;
}

nav {
	font-size: 30px;
}

hr {
	height: 5px;
	background-color: #6F3C74;
}

header img {
	height: 200px;
	border-radius: 50%;
}

section {
	margin: 40px;
	background-color: rgba(255, 255, 255, 0.5);	
}

section h2,
section p {
	margin-left: 60px;
	margin-right: 60px;
}

section hr {
	height: 1px;
	background-color: #000000;
}

footer ul {
	text-align: center;
}

footer ul li {
	display: inline-block;
	font-style: oblique;
	color: white;
	margin: 10px;
}

header ul li {
	display: inline-block;
	font-style: italic;
	margin: 10px auto;
}

header a {
	font-style: normal;
	border-left: 1px solid black;
	padding-left: 10px;
}

h2 {
	color: #6F3C74;
	font-style: italic;
}

footer ul img {
	width: 50px;
	height:50px;
}

