body {
	margin: 20px;
	font-family: Georgia, serif;
	background-color: #9C9A94;
}


header {
	text-align: center;
}

hr {
	height: 5px;
	background-color: #6F3C74;
}

section hr {
	height: 2px;
	background-color: #000000;
}

header ul li {
	display: inline-block;
	font-style: italic;
}

header a {
	font-style: normal;
}

section {
	margin: 40px;
}

section ul li {
	display: inline-flex;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:3px;
   	border:1px solid #000000;
}

ul {
	margin: 40px;
}

